#message
{
	border: 0px;
	overflow: hidden;
	outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#uploadedImage
{
	min-width: 100%;
	height: auto;
}

.ctm-round
{
	border-radius: 20px;
	width: 30px;
	height: 30px;
}

.ctm-round img
{
	width: 30px;
	height: 30px;
}
